*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(139.81deg, #4DDBFA 0%, #013B8A 100%);;
    
}

.titulo{
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
    gap: 75rem;
    align-items: center;

    width: 100vw;
    height: 97px;
    background-color: rgba(0, 0, 0, 0.51);
}

.title{
    font-size: 32px;
    color: white;
    /* border: 4px solid white; */
    font-family: 'Quantico', sans-serif;
}

.borda{
    border: 3px solid white;
    width: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao{
    display: flex;
    gap: 41px;  
}

.btn-1{
    width: 107px;
    height: 36px;
    border-radius: 30px;
    background-color: #5ddfe694;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.btn-2{
    width: 165px;
    height: 36px;
    border-radius: 30px;
    background-color: #5ddfe694;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.logo-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    gap: 500px;
    margin-right: 100PX;
}

.area-logo{
   /* display: flex;
   flex-direction: column;
    justify-content: center; */

    /* margin-top: 50px; */
    /* margin-left: 80px; */
}

.text{
    font-size: 150px;    
    font-family: 'Quantico', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    column-gap: normal;
    
}

.barra-1{
    background-color: white;
    width: 600px;
    height: 10px;
}

.text-p{
    line-height: 8rem;
}

.text-2{
    font-size: 64px;
    color: white;
    font-family: 'Quantico', sans-serif;
}

.img{
     width: 500px;
     height: 500px;
     border-radius: 100px;
     border: 5px solid white;
}

.botao-criar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-3{
    background-color: #5ddfe694;
    color: white;
    border: none;
    border-radius: 30px;
    width: 459px;
    height: 106px;
    font-size: 30px;
    font-family: 'Quantico', sans-serif;
    cursor: pointer;
}



